<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Document</title>

  <link href="../assets/css/tailwind.css" rel="stylesheet" />
</head>
<body>
  <div>
    <h1 class="text-2xl">Home</h1>
    <a href="./about.html">Go to </a>
  </div>

  <!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script> -->
  <!-- <script type="module" src="../assets/js/lodash@4.17.20.min.js"></script> -->

  <script>
    class App {
      constructor() {
        console.log('hee')
      }

      async Function() {
        setTimeout(() => new Promise((resolve, reject) => resolve()), 3000)
      }
    }
  </script>
</body>
</html>